---
const { variant, size } = Astro.props;
---

<button class={variant + " " + size}><slot /></button>

<style>
  button {
    padding: 1rem;
    border-radius: 10px;
  }
  .primary {
    background-color: pink;
    color: rgb(116, 116, 255);
  }
  .secondary {
    background-color: rgb(205, 255, 167);
    color: rgb(255, 163, 220);
  }
  .small {
    font-size: 0.8rem;
  }
  .medium {
    font-size: 1rem;
  }
  .large {
    font-size: 1.2rem;
  }
</style>
