---
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
---

<Button variant="primary" size="small">KLIK KLIK</Button>
<Button variant="secondary" size="medium">KLUK KLUK</Button>
<Button variant="primary" size="large">KLAK KLAK</Button>

<Card header="shoes">
  <p>Her er min "slot" tekst</p>
  <button>køb</button>
</Card>

<Card header="jeans">
  <p>Her er en tekst til min jeans</p>
  <button>køb</button>
</Card>
